<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    
       <title>Mural de avisos</title>
      
  </head>   
    <body>  
         <div align="right"><a href="/logoff/">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1><p class="text-info">Mural de Avisos</p></h1></div>




<a href="/dashboard/">Voltar para o menu principal</a>
    <hr>
            <div class="hero-unit">
                <div class="alert alert-block">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Prezado aluno</h4>
                     Se você acessou o site do ENADE e preencheu o Questionário do Estudante, no período de 27 a 29 de outubro de 2014, visualizou dados equivocados 
                    sobre a data da realização  do ENADE 2014. 
                     A data CORRETA da prova é 23 de novembro de 2014, às 13h (horário de Brasília) e você deverá imprimir novamente o Cartão de informações do Estudante 
                    para a  correta visualização dos dados do  exame.
                     O MEC informa que o problema ocorreu por um erro de sistema, que já foi corrigido e está operando normalmente. 
                     Boa Prova!
                    </div>
            </div>
            
            <div class="hero-unit">
                <div class="alert alert-block">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <h4>Prezado aluno</h4>
                        Alunos que perderam o prazo para validação do seu aditamento, compareçam com urgência no setor de Crédito Educativo.

                       Horário de funcionamento:  

                       Dias ímpares das 10h às 12h

                       Dias pares das 18h às 20h
                    
                     </div>
            </div>
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>
