    <div align="center"><h1>Faça seu Cadastro</h1></div>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Cadastro</title>
    <hr>
<div class="col-sm-6" align="center">
<form action="/cadastro_validar/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}<br />
   

    <input  class="btn btn-info" type="submit" value="Cadastrar"/>
    <a href="/login/">Clique aqui para fazer o login</a>
</form>
</div>
     <hr>
     <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Projeto Boletim | 2014</div>
    </footer>
    <!-- FIM RODAPE -->