<html>
<head>
    <meta charset="utf-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
</head>
    <body>
        <div align="center"><h1>CADASTRO</h1></div>
        <hr>
<form action="/cadastro_validar/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}<br />
    <input  class="btn btn-danger" type="button" value="Cadastrar"/>
</form>
     <hr>
     <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Projeto Boletim | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>