<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
      
       <title>Projeto-Boletim</title>
      
  </head>   
    <body>  
        <div align="right"><a href="logoff">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1>DASHBOARD DO USUARIO</h1></div>

<br />
<hr> 
Conteudo bloqueado do usuario...
    

<hr>      
<br /> 
        
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Projeto Boletim | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
        
    </body>
</html>
    