<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    
       <title>Portal do aluno</title>
      
  </head>   
    <body>  
        <div align="right"><a href="/logoff/">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1><p class="text-info">Boletim do Aluno</p></h1></div>
        
<a href="/dashboard/">Voltar para o menu principal</a>

    <hr>
      
      <table class="table table-striped">
       <tr>
         <td></td>
         <td><b>Segunda-Feira</b></td>
         <td><b>Terça-Feira</b></td>
         <td><b>Quarta-Feira</b></td>
         <td><b>Quinta-Feira</b></td>
         <td><b>Sexta-Feira</b></td>
       </tr>
       <tr>
         <td><b>Aula 1</b></td>
         <td>Português</td>
         <td>Ciências</td>
         <td>História</td>
         <td>Matemática</td>
         <td>Ed. Artistica</td>
       </tr>
        
       <tr>
         <td><b>Aula 2</b></td>
         <td>Ed. Fisica</td>
         <td>História</td>
         <td>Matemática</td>
         <td>Fisica</td>
         <td>Quimica</td>
       </tr>
        
        <tr>
          <td><b>Aula 3</b></td>
         <td>Ed. Artistica</td>
         <td>Biologia</td>
         <td>Fisica</td>
         <td>Português</td>
         <td>Matemática</td>
       </tr>
        
        <tr>
          <td><b>Intervalo</b></td>
          <td><b>Intervalo</b></td>
          <td><b>Intervalo</b></td>
          <td><b>Intervalo</b></td>
          <td><b>Intervalo</b></td>
          <td><b>Intervalo</b></td>
         
       </tr>
        
        <tr>
          <td><b>Aula 4</b></td>
         <td>Matemática</td>
         <td>Biologia</td>
         <td>Quimica</td>
         <td>Português</td>
         <td>História</td>
       </tr>
        
         <tr>
           <td><b>Aula 5</b></td>
         <td>História</td>
         <td>Ciências</td>
         <td>Ed. Artistica</td>
         <td>Ed. Fisica</td>
         <td>Português</td>
       </tr>
        
         <tr>
           <td><b>Aula 6</b></td>
         <td>Fisica</td>
         <td>História</td>
         <td>Ciencias</td>
         <td>História</td>
         <td>Matemática</td>
       </tr>
        
        
      
      
      
      
      </table>
        
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>
        