{% load i18n %}
<html>
<head>
 <meta charset="utf-8">
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Index</title>
</head>
    <body>
<div align="center"><h1>Seja Bem vindo ao Boletim do Aluno</h1></div>
<hr>
<br />

<br />

{% if user.is_authenticated %}
    Se deseja mostrar algo com o usuario logado em QUALQUER template...
    <br />
    <a href="/dashboard/"> Painel do Cliente</a>
    <br />
    <a href="/logoff/">Clique para Sair</a>
    <br />
{% endif %}

    
    <a href="/login/">Clique aqui para fazer o login</a>
    <br />
    <br />
    <a href="/cadastro/">Clique aqui para fazer o seu cadastro</a><br /> <br />
    
    <a href="#" onclick="document.setLangEnglish.submit();return false;">English</a>
    <form name="setLangEnglish" action="/i18n/setlang/" method="POST">
        {% csrf_token %}
         <input name="next" type="hidden" value="/" />
         <input type="hidden" name="language" value="en" />
    </form>
    
    <a href="#" onclick="document.setLangPortugues.submit();return false;">Português</a>
    <form name="setLangPortugues" action="/i18n/setlang/" method="POST">
        {% csrf_token %}
         <input name="next" type="hidden" value="/" />
         <input type="hidden" name="language" value="pt-br" />
    </form> 
    
    <br />
    Tradução vinda do django: {{ recado }}
    <br />
    Tradução direto no template: {% trans "olá turma do mal! "%}
    <br />
    Tradução direto no template (bloco): {% blocktrans %} Esse e o bloco de conteudo!{% endblocktrans %}
    <br />
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Projeto Boletim | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>
