<div align="center"><h1>Faça seu Login</h1></div>
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <title>Login</title>
    <hr>
<div class="col-sm-6" align="center">
<form action="/validar/" method="POST">
    {% csrf_token %}
    {{ form }}
    <br />
    <input  class="btn btn-info" type="submit" value="validar"/>
    
</form>
</div>
    <hr>
     <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->