<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    
       <title>Portal do aluno</title>
      
  </head>   
    <body>  
        <div align="right"><a href="/logoff/">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1><p class="text-info">Notas do Aluno</p></h1></div>
<a href="/dashboard/">Voltar para o menu principal</a>
    <hr>
        <table class="table table-striped">
                      <tbody>
                        <tr>
                          <th>Matérias</th>
                          <th>1° Bimestre</th>
                          <th>2° Bimestre</th>
                          <th>3° Bimestre</th>
                          <th>4° Bimestre</th>
                        </tr>    
                     </tbody>
        </table>
        <table class="table table-striped">
              
                    <thead>
                    <tr>
                        <th>Matemática</th>   
                    </tr>
                    </thead>
                    <tbody>
                    <tr>  
                          <th>Português</th>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>História</th>
                    </tr>
                    </thead>
                     <tbody>
                    <tr>  
                          <th>Geografia</th>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Ciência</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>  
                          <th>Física</th>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Química</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>  
                          <th>Biologia</th>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>Ed. Artistica</th>
                    </tr>
                    </thead>
                     <tbody>
                    <tr>  
                          <th>Ed. Fisica</th>
                    </tr>
                    </tbody>
        </table>  
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>