<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    
       <title>Provas</title>
      
  </head>   
    <body>  
        <div align="right"><a href="/logoff/">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1><p class="text-info">Provas</p></h1></div>


<a href="/dashboard/">Voltar para o menu principal</a>
    <hr>
      <table border="0" align = "center" class="table table-striped">
        <tr>
          <td><b>Matéria</b></td>
          <td><b>1° Bimestre</b></td>
          <td><b>2° Bimestre</b></td>
          <td><b>3° Bimestre</b></td>
          <td><b>4° Bimestre</b></td>
          <td><b>Data da Reculperação</b></td>
        </tr>
        
        <tr>
          <td><b>Matemática</b></td>
          <td>14/04/2014</td>
          <td>02/06/2014</td>
          <td>08/09/2014</td>
          <td>17/11/2014</td>
          <td>01/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Português</b></td>
          <td>15/04/2014</td>
          <td>03/06/2014</td>
          <td>09/09/2014</td>
          <td>18/11/2014</td>
          <td>02/12/2014</td>
        </tr>
        
        <tr>
          <td><b>História</b></td>
          <td>16/04/2014</td>
          <td>04/06/2014</td>
          <td>10/09/2014</td>
          <td>19/11/2014</td>
          <td>03/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Ciência</b></td>
          <td>17/04/2014</td>
          <td>05/06/2014</td>
          <td>11/09/2014</td>
          <td>20/11/2014</td>
          <td>04/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Física</b></td>
          <td>18/04/2014</td>
          <td>06/06/2014</td>
          <td>12/09/2014</td>
          <td>21/11/2014</td>
          <td>05/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Quimica</b></td>
          <td>22/04/2014</td>
          <td>09/06/2014</td>
          <td>15/09/2014</td>
          <td>24/11/2014</td>
          <td>09/11/2014</td>
        </tr>
        
        <tr>
          <td><b>Biologia</b></td>
          <td>23/04/2014</td>
          <td>10/06/2014</td>
          <td>16/09/2014</td>
          <td>25/11/2014</td>
          <td>10/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Ed. Artistica</b></td>
          <td>24/04/2014</td>
          <td>11/06/2014</td>
          <td>17/09/2014</td>
          <td>26/11/2014</td>
          <td>11/12/2014</td>
        </tr>
        
        <tr>
          <td><b>Ed. Fisica</b></td>
          <td>25/04/2014</td>
          <td>12/06/2014</td>
          <td>18/09/2014</td>
          <td>27/11/2014</td>
          <td>12/12/2014</td>
        </tr>
        
        </table>
      
      <h5>Obs: No dia da Avaliação será desconsiderado o horário de Aulas</h5>
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>