<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
     <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    
       <title>Provas</title>
      
  </head>   
    <body>  
        <div align="right"><a href="/logoff/">Sair</a></div>
        <div align="right">Email do usuario logado: {{ user.email }}</div>
        <div align="center"><h1><p class="text-info">Provas</p></h1></div>


<a href="/dashboard/">Voltar para o menu principal</a>
    <hr>
      <table border="0" align = "center" class="table table-striped">
        <tr>
          <td><b>Matéria</b></td>
          <td><b>Data da Prova</b></td>
          <td><b>Data da Reculperação</b></td>
        </tr>
        
        <tr>
          <td>Matemática</td>
          <td>17/11/2014</td>
          <td>01/12/2014</td>
        </tr>
        
        <tr>
          <td>Português</td>
          <td>18/11/2014</td>
          <td>02/12/2014</td>
        </tr>
        
        <tr>
          <td>História</td>
          <td>19/11/2014</td>
          <td>03/12/2014</td>
        </tr>
        
        <tr>
          <td>Ciência</td>
          <td>20/11/2014</td>
          <td>04/12/2014</td>
        </tr>
        
        <tr>
          <td>Física</td>
          <td>21/11/2014</td>
          <td>05/12/2014</td>
        </tr>
        
        <tr>
          <td>Quimica</td>
          <td>24/11/2014</td>
          <td>09/11/2014</td>
        </tr>
        
        <tr>
          <td>Biologia</td>
          <td>25/11/2014</td>
          <td>10/12/2014</td>
        </tr>
        
        <tr>
          <td>Ed. Artistica</td>
          <td>26/11/2014</td>
          <td>11/11/2014</td>
        </tr>
        
        <tr>
          <td>Ed. Fisica</td>
          <td>27/11/2014</td>
          <td>12/12/2014</td>
        </tr>
        
        </table>
      
      <h5>Obs: Será avaliado todo o conteúdo do decorrer do Ano, do 1° Bimestre ao 4° Bimestre</h5>
    <hr>
    <!-- RODAPE -->
    <footer>
      <div align="center">&copy; Portal do aluno | 2014</div>
    </footer>
    <!-- FIM RODAPE -->
    </body>
</html>